body {
    background-color:rgb(162, 213, 233);
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.grey{
    float:left;
    background-color:darkgrey;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}

.container{
    margin: 20px 0;
}

.container label{
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.red{
    background-color:red;
}

.grey:nth-of-type(4){
    margin-right: 18px;
}

.grey:nth-of-type(9){
    margin-right: 18px;
}

.grey:nth-of-type(14){
    margin-right: 18px;
}


.grey:nth-of-type(20){
    margin-right: 18px;
}

.grey:nth-of-type(25){
    margin-right: 18px;
}

.grey:nth-of-type(30){
    margin-right: 18px;
}



.showcase{
    background-color: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.screen{
    background-color: rgb(31, 14, 104);
    height: 5px;
    width: 100%;
    margin: 15px 0;
    box-shadow: 0 3px 10px rgba(67, 51, 158, 0.75);
}

.container{
    perspective: 1000px;
    margin-bottom: 30px;
}

p.text{
    margin: 5px 0;
}

p.text span{
    color: #6feaf6;
    
}
